* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.with-side-margin{
  margin-left: 0.5em;
  margin-right: 0.5em;
}


/* simple - enter transition 300ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.page {
  position: absolute;
  top: auto;
  left: 0;
  right: 0
}

ul{
  text-align: left;
}

.bgcolorDark{
  background-color: #282c34;
}

.container__with-bg-shapes {
  width: 100vw;
  height: 100vh;
  background-image: url('./images/Background-Shapes.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container, .card__container-big {
  box-shadow: 0 0 4px 2px rgba(0,0,0,.15);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
}

.card__container {
  width: 40%;
}

.card__container-big {
  width: 60%;
}

.card__container > *, .card__container-big > * {
  width: 80%;
}

.flex-row {
  display: flex;
  align-items: center;
}

.card__header > .card__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__header > .card__subtitle {
  font-size: 1.2rem;
  font-weight: 400;

  width: 100%;

  display: flex;
  justify-content: space-evenly;
  justify-items: left;
  align-items: center;

  position: relative;
}

.icon-back {
  position: absolute;
  left: 0;
}

.icon-back > * {
  color: black;
}

.card__container > .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__container-big > .card__content {
  display: flex;
  align-items: center;
}

.card__container-big > .card__content {
  display: flex;
  align-items: center;
}

.card__container > .card__content > form, .card__container-big > .card__content > form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__content-column:not(:last-child) {
  margin-right: 2rem;
}

.card__content-column > * {
  width: 100%;
}

.card__content-row-flex-space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card__content-row-flex-start {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-column {
  flex: 1;
}

.fixed-size-column {
  width: 10rem;
}

.card__container > .card__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__option {
  color: #282c34;
  text-decoration: none;
}