<!--  NoteIt Login Nodes  -->
<!--  *-------*-------*  -->

<!-- NoteIt Login -->

<script type="text/html" data-template-name="note-it login">
  <div class="form-row">
    <label for="node-input-email"><i class="fa fa-tag"></i> Email</label>
    <input type="text" id="node-input-email" placeholder="Email">
  </div>
  <div class="form-row">
    <label for="node-input-password"><i class="fa fa-tag"></i> Password</label>
    <input type="password" id="node-input-password" placeholder="Password">
  </div>
  <div class="form-row">
    <label for="node-input-verifCode"><i class="fa fa-tag"></i> Verif. Code</label>
    <input type="text" id="node-input-verifCode" placeholder="Verification Code">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it login">
  <p>NoteIt Login</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it login', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      email: { value: "", required: true },
      password: { value: "", required: true },
      verifCode: { value: "" },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it login";
    },
  });
</script>

<!-- NoteIt Restore Password -->

<script type="text/html" data-template-name="note-it restore password">
  <div class="form-row">
    <label for="node-input-email"><i class="fa fa-tag"></i> Email</label>
    <input type="text" id="node-input-email" placeholder="Email">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it restore password">
  <p>NoteIt Restore Password</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it restore password', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      email: { value: "", required: true },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it restore password";
    },
  });
</script>

<!-- NoteIt Change Password -->

<script type="text/html" data-template-name="note-it change password">
  <div class="form-row">
    <label for="node-input-newPassword"><i class="fa fa-tag"></i> Password</label>
    <input type="password" id="node-input-newPassword" placeholder="New Password">
  </div>
  <div class="form-row">
    <label for="node-input-verifCode"><i class="fa fa-tag"></i> Verif. Code</label>
    <input type="text" id="node-input-verifCode" placeholder="Verification Code">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it change password">
  <p>NoteIt Change Password</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it change password', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      newPassword: { value: "", required: true },
      verifCode: { value: "", required: true },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it change password";
    },
  });
</script>


<!--  NoteIt User Nodes  -->
<!--  *-------*-------*  -->

<!-- NoteIt Create User -->

<script type="text/html" data-template-name="note-it create user">
  <div class="form-row">
    <label for="node-input-firstName"><i class="fa fa-tag"></i> First name</label>
    <input type="text" id="node-input-firstName" placeholder="First name">
  </div>
  <div class="form-row">
    <label for="node-input-lastName"><i class="fa fa-tag"></i> Last name</label>
    <input type="text" id="node-input-lastName" placeholder="Last name">
  </div>
  <div class="form-row">
    <label for="node-input-email"><i class="fa fa-tag"></i> Email</label>
    <input type="text" id="node-input-email" placeholder="Email">
  </div>
  <div class="form-row">
    <label for="node-input-password"><i class="fa fa-tag"></i> Password</label>
    <input type="password" id="node-input-password" placeholder="Password">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it create user">
  <p>NoteIt Create User</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it create user', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      firstName: { value: "", required: true },
      lastName: { value: "", required: true },
      email: { value: "", required: true },
      password: { value: "", required: true },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it create user";
    },
  });
</script>

<!-- NoteIt Update User -->

<script type="text/html" data-template-name="note-it update user">
  <div class="form-row">
    <label for="node-input-firstName"><i class="fa fa-tag"></i> First name</label>
    <input type="text" id="node-input-firstName" placeholder="First name">
  </div>
  <div class="form-row">
    <label for="node-input-lastName"><i class="fa fa-tag"></i> Last name</label>
    <input type="text" id="node-input-lastName" placeholder="Last name">
  </div>
  <div class="form-row">
    <label for="node-input-email"><i class="fa fa-tag"></i> Email</label>
    <input type="text" id="node-input-email" placeholder="Email">
  </div>
  <div class="form-row">
    <label for="node-input-password"><i class="fa fa-tag"></i> Password</label>
    <input type="password" id="node-input-password" placeholder="Password">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it update user">
  <p>NoteIt Update User</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it update user', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      firstName: { value: "", required: true },
      lastName: { value: "", required: true },
      email: { value: "", required: true },
      password: { value: "", required: true },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it update user";
    },
  });
</script>

<!-- NoteIt Get Current User -->

<script type="text/html" data-template-name="note-it get current user">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it get current user">
  <p>NoteIt Get Current User</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it get current user', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it get current user";
    },
  });
</script>

<!-- NoteIt Find User -->

<script type="text/html" data-template-name="note-it find user">
  <div class="form-row">
    <label for="node-input-search"><i class="fa fa-tag"></i> Search</label>
    <input type="text" id="node-input-search" placeholder="Search">
  </div>
</script>

<script type="text/html" data-help-name="note-it find user">
  <p>NoteIt Find User</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it find user', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      search: { value: "", required: true },
      name: { value: "" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it find user";
    },
  });
</script>


<!--  NoteIt Notebook Nodes  -->
<!--  *-------*-------*  -->

<!-- NoteIt Create Notebook -->

<script type="text/html" data-template-name="note-it create notebook">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Titulo</label>
    <input type="text" id="node-input-title" placeholder="Titulo">
  </div>
  <div class="form-row">
    <label for="node-input-description"><i class="fa fa-tag"></i> Descripción</label>
    <input type="text" id="node-input-description" placeholder="Descripción">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it create notebook">
  <p>NoteIt Create Notebook</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it create notebook', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      description: { value: "" },
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it create notebook";
    },
  });
</script>

<!-- NoteIt Update Notebook -->

<script type="text/html" data-template-name="note-it update notebook">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Titulo</label>
    <input type="text" id="node-input-title" placeholder="Titulo">
  </div>
  <div class="form-row">
    <label for="node-input-description"><i class="fa fa-tag"></i> Descripción</label>
    <input type="text" id="node-input-description" placeholder="Descripción">
  </div>
  <div class="form-row">
    <label for="node-input-participants"><i class="fa fa-tag"></i> Participantes</label>
    <input type="text" id="node-input-participants" placeholder="[]">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it update notebook">
  <p>NoteIt Update Notebook</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it update notebook', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      description: { value: "" },
      participants: {
        value: "",
        validate: RED.validators.typedInput("participantsType"),
      },
      name: { value: "" },

      participantsType: { value: "json" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it update notebook";
    },
    oneditprepare: function () {
      $("#node-input-participants").typedInput({
        default: 'json',
        typeField: "#node-input-participantsType",
        types: ['json']
      });
    }
  });
</script>

<!-- NoteIt List Notebooks -->

<script type="text/html" data-template-name="note-it list notebooks">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it list notebooks">
  <p>NoteIt List Notebooks</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it list notebooks', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it list notebooks";
    },
  });
</script>

<!-- NoteIt List Shared Notebooks -->

<script type="text/html" data-template-name="note-it list shared notebooks">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it list shared notebooks">
  <p>NoteIt List Shared Notebooks</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it list shared notebooks', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it list shared notebooks";
    },
  });
</script>


<!--  NoteIt Note Nodes  -->
<!--  *-------*-------*  -->

<!-- NoteIt Create note -->

<script type="text/html" data-template-name="note-it create note">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Titulo</label>
    <input type="text" id="node-input-title" placeholder="Titulo">
  </div>
  <div class="form-row">
    <label for="node-input-notebook"><i class="fa fa-tag"></i> Libreta</label>
    <input type="text" id="node-input-notebook" placeholder="Series para ver..">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it create note">
  <p>NoteIt Create note</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it create note', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      notebook: { value: "" },
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it create note";
    },
  });
</script>

<!-- NoteIt Update Note -->

<script type="text/html" data-template-name="note-it update note">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Titulo</label>
    <input type="text" id="node-input-title" placeholder="Titulo">
  </div>
  <div class="form-row">
    <label for="node-input-notebook"><i class="fa fa-tag"></i> Libreta</label>
    <input type="text" id="node-input-notebook" placeholder="Libreta">
  </div>
  <div class="form-row">
    <label for="node-input-detail"><i class="fa fa-tag"></i> Detalle</label>
    <input type="text" id="node-input-detail" placeholder="Detalle">
  </div>
  <div class="form-row">
    <label for="node-input-participants"><i class="fa fa-tag"></i> Participantes</label>
    <input type="text" id="node-input-participants" placeholder="[]">
  </div>
  <div class="form-row">
    <label for="node-input-checklist"><i class="fa fa-tag"></i> Checklist</label>
    <input type="text" id="node-input-checklist" placeholder="[]">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it update note">
  <p>NoteIt Update Note</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it update note', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      notebook: { value: "" },
      detail: { value: "" },
      participants: {
        value: "",
        validate: RED.validators.typedInput("participantsType"),
      },
      checklist: {
        value: "",
        validate: RED.validators.typedInput("checklistType"),
      },
      name: { value: "" },

      participantsType: { value: "json" },
      checklistType: { value: "json" }
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it update note";
    },
    oneditprepare: function () {
      $("#node-input-participants").typedInput({
        default: 'json',
        typeField: "#node-input-participantsType",
        types: ['json']
      });
      $("#node-input-checklist").typedInput({
        default: 'json',
        typeField: "#node-input-checklistType",
        types: ['json']
      });
    }
  });
</script>

<!-- NoteIt List Notes without Notebook -->

<script type="text/html" data-template-name="note-it list notes without notebook">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it list notes without notebook">
  <p>NoteIt List Notes without Notebook</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it list notes without notebook', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it list notes without notebook";
    }
  });
</script>

<!-- NoteIt List Shared Notes without Notebook -->

<script type="text/html" data-template-name="note-it list shared notes without notebook">
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it list shared notes without notebook">
  <p>NoteIt List Shared Notes without Notebook</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it list shared notes without notebook', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it list shared notes without notebook";
    }
  });
</script>

<!-- NoteIt List Notebook Notes -->

<script type="text/html" data-template-name="note-it list notebook notes">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Titulo</label>
    <input type="text" id="node-input-title" placeholder="Titulo">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it list notebook notes">
  <p>NoteIt List Notebook Notes</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it list notebook notes', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it list notebook notes";
    }
  });
</script>


<!--  NoteIt File Nodes  -->
<!--  *-------*-------*  -->

<!-- NoteIt Note List Files -->

<script type="text/html" data-template-name="note-it note list files">
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-tag"></i> Nota</label>
    <input type="text" id="node-input-title" placeholder="Nota">
  </div>
  <div class="form-row">
    <label for="node-input-notebook"><i class="fa fa-tag"></i> Libreta</label>
    <input type="text" id="node-input-notebook" placeholder="Libreta">
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>

<script type="text/html" data-help-name="note-it note list files">
  <p>NoteIt Note List Files</p>
</script>

<script type="text/javascript">
  RED.nodes.registerType('note-it note list files', {
    category: 'note_it',
    color: "#fff",
    defaults: {
      title: { value: "", required: true },
      notebook: { value: "" },
      name: { value: "" },
    },
    inputs: 1,
    outputs: 1,
    icon: "icons/note-it-logo.svg",
    label: function() {
      return this.name || "note-it note list files";
    }
  });
</script>